extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis libero egestas nibh pellentesque facilisis. Integer ante sem, ornare at ex eu, condimentum semper felis. Proin finibus tincidunt rutrum. Nulla tincidunt posuere elit, vel auctor odio. In a nulla sed lectus interdum molestie. Sed elementum varius orci ac elementum.
                p Pellentesque finibus nibh vitae est rutrum fringilla. Quisque lorem elit, aliquam sed tempus vel, imperdiet a tellus. Maecenas hendrerit lorem at metus tempor, ac imperdiet dui elementum. Integer lacus est, luctus sit amet ligula et, egestas sodales tellus. Curabitur varius libero eget cursus molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc nec egestas eros. Donec in nunc congue, finibus felis at, tristique erat. Aenean efficitur bibendum ex vitae eleifend. Aliquam erat volutpat. Integer eget diam dapibus, cursus felis vitae, lacinia arcu. Sed vitae mi mattis ligula suscipit posuere nec non nulla. Vestibulum posuere ut risus a condimentum.
                p Nulla tincidunt posuere elit, vel auctor odio. In a nulla sed lectus interdum molestie. Sed elementum varius orci ac elementum. Nam et sapien a metus lobortis condimentum bibendum at tellus. Phasellus semper lacus in nunc malesuada cursus. Donec efficitur ante ante, non congue lectus lacinia eu. Vestibulum ultrices, diam ac fringilla placerat, urna turpis viverra velit, rutrum pellentesque nisi quam in dolor.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aenean efficitur bibendum ex vitae eleifend. Aliquam erat volutpat. Integer eget diam dapibus, cursus felis vitae, lacinia arcu. Sed vitae mi mattis ligula suscipit posuere nec non nulla.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Aenean efficitur bibendum ex vitae eleifend. Aliquam erat volutpat. Integer eget diam dapibus, cursus felis vitae, lacinia arcu. Sed vitae mi mattis ligula suscipit posuere nec non nulla.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Aenean efficitur bibendum ex vitae eleifend. Aliquam erat volutpat. Integer eget diam dapibus, cursus felis vitae, lacinia arcu. Sed vitae mi mattis ligula suscipit posuere nec non nulla.